.dropdown-menu#seachbar-drop {
    width: 1000px !important;
    height: 200px !important;
}

.dropdown-menu#saved-rulesets {
    width: 225px !important;
    height: 300px !important;
}

.logo img{
	width: 100%;
	height: auto;
}

.title h2 {
	text-align: center;
}

/*Might not need*/
.search-tool-bar {
	padding: 2px;
}

.addedDiv {
	border: 3px solid black;
	padding: 5px;
}

.saved-rulesets {
	padding: 10px;
}

#ruleset-dropdown-menu {
	height: 300px;
}

#ruleset-button {
	padding: 5px;
}

#edit-section {
	border: 2px solid black;
	background-color: lightgray;
}

#edit-buttons {
	padding: 5px;
}

#ruleset-being-used-title h3 {
	padding: 5px;
	margin-top: 2px;
}

.type_title {
/*	padding-top: 3px;*/
	border: 3px solid red;
}

.indiv-criteria {
	border: 3px solid white;
	background-color: lightgray;
	margin-top: 5px;
	margin-bottom: 5px;
}

.criteria-title-container {
	background-color: gray;
}

.criteria-title h3 {
	margin: 5px;
	color: white;
}

.cancel-button {
/*	border: 3px solid black;*/
/*	float: right;*/
	padding: 2px;
}

.form-row {
	padding: 2px;
}

.form-row-top {
	padding-top: 2px;
}
.button-group-row {
	padding: 5px;
}

#criteria-cancel-button {
/*	align-content: right;*/
/*	float:right;*/
}

.criteria-selection-container {
	padding: 10px; 
	border: 3px solid orange;
}

.indiv_criteria_options_outside_container {
/*	border: 3px solid white;*/
}


.ruleset-outer-container {
	padding: 10px;
}

.ruleset-inner-container {
/*	border: 3px solid black;*/
}
/*.addRulesetCriteriaContainer {
	border: 2px solid blue;
	margin: 10px;
	padding: 10px;
	background-color: lightgray;
}*/

.break {
/*	background-color: lightgray;*/
}

.ruleset_list_container {
/*	background-color: #2E0954;*/
	margin-top: 5px;
	margin-bottom: 5px;
}

.add-ruleset-outer-container {
	background-color: #2E0954;
}

.all-ruleset-criteria-container {
	background-color: gray;
}

.hiddenDivContainer{

}

.editExistingRuleset {
	pointer-events: none; opacity: 0.8;
	padding: 10px;
}

#cancel-edit-btn {
	padding-bottom: 5px;
}

.results-container-col {
	background-color: lightgray;
}

.results-container-row {
/*	padding: 5px;*/
}

.property-container {
	border: 3px solid white;
	padding: 5px;
}

.property-details-container {
	padding: 10px; 
	border: 3px solid white;
	background-color: #2E0954;
	color: white;
}

.picture img{
	width: 100%;
    height: auto;
/*    height: 10px;
    width: 10px;
*/}

.details table, th, td{
/*	border: 1px solid black;
	border-collapse: collapse;*/
	text-align: center;
	padding: 5px;
}

/*#map {
/*	height: 100%; */
/*	border: 2px solid black;
	padding-right: none;
}*/

/*.map-container {
	width:100%;
    border: 2px solid black;
    height: 100%;
 	height:calc(100% - 0px);
}*/

/*.angular-google-map-container {*/
/*    height: 700px;
    width: 900px;*/
/*   	height: 500px;*/
/*	height: 400px;*/
/*	height: auto;
    width: auto;
}*/
/*.angular-google-map {
    height: 300px;
    width: 400px;
}*/

.angular-google-map-container {
    width: 100%;
    height: 800px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}

.angular-google-map {
/*    top: 80px;*/
	margin: auto;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}

#property-list {
	border: 2px solid #2E0954; 
	height: 800px; 
	overflow: scroll;
	background-color: lightgray;
}

#results-title h3 {
	margin-top: 5px;
}