<!-- 														<div class="row" data-ng-repeat="assetTypeOption in assetTypeOptionsArray" data-ng-switch on="assetTypeOption.type" style="padding: 10px; border: 3px solid orange;">
															<div class="col-md-12"> -->
<!-- 																<div class="row" ng-switch-when='Hotel'>
																	<div class="col-md-11">
																		<p>Hotel</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Industrial'>
																	<div class="col-md-11">
																		<p>Industrial</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Bank Owned'>
																	<div class="col-md-11">
																		<p>Bank Owned</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Foreclosure'>
																	<div class="col-md-11">
																		<p>Foreclosure</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Income Producing'>
																	<div class="col-md-11">
																		<p>Income Producing</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Private Seller'>
																	<div class="col-md-11">
																		<p>Private Seller</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Short Sell'>
																	<div class="col-md-11">
																		<p>Short Sell</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div> -->
<!-- 															</div>
														</div> -->



														<!-- 														<div class="row" data-ng-repeat="sellerCodeOption in sellerCodeOptionsArray" data-ng-switch on="sellerCodeOption.type" style="padding: 10px; border: 3px solid orange;">
															<div class="col-md-12">
																<div class="row" ng-switch-when='211'>
																	<div class="col-md-11">
																		<p>211</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='3ML'>
																	<div class="col-md-11">
																		<p>3ML</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='400'>
																	<div class="col-md-11">
																		<p>400</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='505'>
																	<div class="col-md-11">
																		<p>505</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='639'>
																	<div class="col-md-11">
																		<p>639</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='AAA'>
																	<div class="col-md-11">
																		<p>AAA</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
															</div>
														</div> -->

														<!-- 														<div class="row" data-ng-repeat="statusOption in statusOptionsArray" data-ng-switch on="statusOption.type" style="padding: 10px; border: 3px solid orange;">
															<div class="col-md-12">
																<div class="row" ng-switch-when='Auction'>
																	<div class="col-md-11">
																		<p>Auction</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Canceled'>
																	<div class="col-md-11">
																		<p>Canceled</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Postponed'>
																	<div class="col-md-11">
																		<p>Postponed</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Sold Presale'>
																	<div class="col-md-11">
																		<p>Sold Presale</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
															</div>
														</div> -->

														<!-- 														<div class="row" data-ng-repeat="statusOption in statusOptionsArray" data-ng-switch on="statusOption.type" style="padding: 10px; border: 3px solid orange;">
															<div class="col-md-12">
																<div class="row" ng-switch-when='Auction'>
																	<div class="col-md-11">
																		<p>Auction</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Canceled'>
																	<div class="col-md-11">
																		<p>Canceled</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Postponed'>
																	<div class="col-md-11">
																		<p>Postponed</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
																<div class="row" ng-switch-when='Sold Presale'>
																	<div class="col-md-11">
																		<p>Sold Presale</p>
																	</div>
																	<div class="col-md-1">
																		<button type="button" class="btn btn-default btn-xs" data-ng-click="">Remove <span class="glyphicon glyphicon-remove"></span></button>
																	</div>
																</div>
															</div>
														</div> -->
 
<!-- __________________________________________________________________________________________________________________________________________________________ -->
<!--
														<div class="row" data-ng-show="assetTypeOption != null">
																<div class="col-md-11">
																	{{assetTypeOption}}
																</div>
																<div class="col-md-1">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="returnToList('Asset Type')">Remove <span class="glyphicon glyphicon-remove"></span></button>
																</div>
															</div>
															<div class="row" data-ng-show="assetTypeOption == null" style="padding: 10px;">
																<div class="col-md-12 btn-group" uib-dropdown>
																	<button id="single-button" type="button" class="btn btn-warning" uib-dropdown-toggle>
																	 	Select Asset Type <span class="caret"></span>
																	</button>
																	<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
																		<li data-ng-repeat="option in assetTypeOptions">
																	      	<a data-ng-click="addAssetTypeDiv(option)">{{option.text}}</a>
																	    </li>
																	</ul>
																</div>
															</div> -->

<!-- 
																										<div class="row" data-ng-show="statusOption == null" style="padding: 10px;"
																<div class="col-md-12">
																	<div class="btn-group" uib-dropdown>
																		<button id="single-button" type="button" class="btn btn-warning" uib-dropdown-toggle>
																		 	Select Status Type <span class="caret"></span>
																		</button>
																		<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
																			<li data-ng-repeat="option in statusOptions">
																		      	<a data-ng-click="addStatusDiv(option)">{{option.text}}</a>  remove(statusOptions, $index)"
																		    </li>
																		</ul>
																	</div>
																</div>
															</div> -->