<link rel="stylesheet" type="text/css" href="/css/index.client.view.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABosCNk7HaU6Z-2DR8V70_WWMdzW7TusU&callback=initMap"
    async defer></script>
<!-- The index view -->
<div class"container-fluid">
	<section name="header">	
		<div class="row">
			<div class="col-md-2 logo">
				<img src="/img/ten-x-logo.jpg">
			</div>
			<div class="col-md-8 title">
				<h2>Welcome to Ten-X Search Tool</h2>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</section>
	<section name="page-container" data-ng-controller="SectionController">
		<div data-ng-controller="RulesetController">
			<div class="row">
				<div class="col-md-2" id="show-rulesets-container">
					<button type="button" class="btn btn-default btn-block" data-ng-click="findExistingRulesets(); selectSection(1)"><span class="glyphicon glyphicon-list-alt"></span> Saved Rulesets</button>
					<div class="saved-rulesets" data-ng-show="isSelected(1)">
						<div class="row">
							<div class="col-md-12" id="ruleset-list">
							    <select multiple class="form-control" id="ruleset-dropdown-menu" data-ng-model="rulesetID" >
							    	<option data-ng-repeat="ruleset in existingRulesetList" value="{{ruleset._id}}">{{ruleset.title}}</option>
							    </select>
							</div>
						</div>
						<div class="row">
						    <div class="col-md-12" id="ruleset-button" align="center">
								<button type="submit" class="btn btn-default btn-sm btn-block" data-ng-click="findOne(); selectSection(4); toggleHiddenContainer()">
									Use
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 form-control-label" id="searchbar">
					<div class="row">
						<div class="col-md-12">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
						    	<input class="form-control" type="text" name="location" ng-model="selected" uib-typeahead="state as state.name for state in states | filter:$viewValue | limitTo:8" placeholder="California...">
							</div>
						</div>
					</div>
					<div class="row alerts-container">
						<div class="col-md-12">
							<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
						</div>
					</div>
					<div class="row ruleset-outer-container">
						<div class="col-md-12">
							<div class="row">
								<div ng-show="useExistingRuleset == true" id="edit-section">
									<div class="row">
										<div class="col-md-12" id="ruleset-being-used-title">
											<h3>Ruleset Being Used: {{existingRulesetTitle}}</h3>
										</div>
									</div>
									<div class="row" id="edit-buttons" ng-hide="editing == true">
										<div class="col-md-4" align="center">
											<button type="button" class="btn" data-ng-click="editExistingRuleset();"><span class="glyphicon glyphicon-wrench"></span> Edit Ruleset</button>
										</div>
										<div class="col-md-4" align="center">
											<button type="button" class="btn" data-ng-click="deleteRuleset(); addSuccessfulAlert(2)"><span class="glyphicon glyphicon-remove"></span> Delete Ruleset</button>
										</div>
										<div class="col-md-4" align="center">
											<button type="button" class="btn" data-ng-click="selectSection(4); cancel(); useExistingRuleset = false"><span class="glyphicon glyphicon-lock"></span> Cancel</button>
										</div>
									</div>
									<div class="row" id="cancel-edit-btn" ng-show="editing == true">
										<div class="col-md-12" align="center">
											<button type="button" class="btn" data-ng-click="cancelEditing()"><span class="glyphicon glyphicon-lock"></span> Cancel</button>
										</div>
									</div>
								</div>
								<div data-ng-hide="useExistingRuleset == true">
									<div class="row">
										<div class="col-md-12 disclaimer">
											<h6>Please select 'Add Ruleset Criteria' to begin creating a new ruleset or select a pre-existing ruleset by selecting 'Saved Rulesets' to the left. Each criteria will be used to sort with a top-down approach.</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="row" data-ng-hide="hiddenDivContainer == true">
								<div class="col-md-12">
									<div class="btn-group" uib-dropdown is-open="status.isopen">
								    	<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="sortCriteriaOptions.length == 0">
								        	Add Ruleset Criteria <span class="caret"></span>
								      	</button>
								      	<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
								      		<li data-ng-repeat="option in sortCriteriaOptions">
								      			<a data-ng-click="addCriteriaOption(option); toggleHiddenContainer(); removeOption(sortCriteriaOptions, $index); noRuleset = false">{{option.text}}</a>
								      		</li>
								      	</ul>
									</div>
								</div>
							</div>
							<div class="row add-ruleset-outer-container" data-ng-show="hiddenDivContainer == true">
								<div class="col-md-2 break"></div>
								<div class="col-md-8 ruleset_list_container">
									<div class="row ruleset-inner-container" data-ng-repeat="criteria in rulesetCriteriaDropdownOptions" data-ng-switch on="criteria.type">
										<div class="col-md-12 indiv-criteria" data-ng-class="disableExistingRuleset">
											<div ng-switch-when='asset_type'>
		                                        <div class="row criteria-title-container">
		                                            <div class="col-md-10 criteria-title">
														<h3>Asset Type</h3>
													</div>
													<div class="col-md-2 cancel-button">
														<button type="button" class="btn btn-default btn-block btn-sm" data-ng-click="removeCriteriaOption(rulesetCriteriaDropdownOptions, 'asset_type', $index)"><span class="glyphicon glyphicon-remove"></span></button>
													</div>
												</div>
												<div class="row indiv_criteria_options_outside_container" data-ng-repeat="assetTypeOption in assetTypeSelections" data-ng-switch on="assetTypeOption.selection">
													<div class="col-md-12 ">
														<div ng-switch-when='bank_owned'>
															<div class="row indiv_criteria_options_inside_container">
																<div class="col-md-10">
																	<h6>Bank Owned</h6>
																</div>
																<div class="col-md-2 cancel-button" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('asset_type', assetTypeSelections, 'bank_owned', $index)">Cancel</button> <!-- removeFromArray('Bank Owned') -->
																</div>
															</div>
														</div>
														<div ng-switch-when='foreclosure'>
															<div class="row">
																<div class="col-md-10">
																	<h6>Foreclosure</h6>
																</div>
																<div class="col-md-2 cancel-button" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('asset_type', assetTypeSelections, 'foreclosure', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='income_producing'>
															<div class="row">
																<div class="col-md-10">
																	<h6>Income Producing</h6>
																</div>
																<div class="col-md-2 cancel-button" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('asset_type', assetTypeSelections, 'income_producing', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='private_seller'>
															<div class="row">
																<div class="col-md-10">
																	<h6>Private Seller</h6>
																</div>
																<div class="col-md-2 cancel-button" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('asset_type', assetTypeSelections, 'private_seller', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='short_sell'>
															<div class="row">
																<div class="col-md-10">
																	<h6>Short Sell</h6>
																</div>
																<div class="col-md-2 cancel-button" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('asset_type', assetTypeSelections, 'short_sell', $index)">Cancel</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row button-group-row"> <!-- Button group row -->
													<div class="col-md-12 btn-group" uib-dropdown>
														<button id="single-button" type="button" class="btn btn-warning btn-sm" uib-dropdown-toggle ng-disabled="assetTypeOptions.length == 0">
														 	Select Asset Type <span class="caret"></span>
														</button>
														<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
															<li data-ng-repeat="option in assetTypeOptions">
														      	<a data-ng-click="addAssetTypeOption(option); removeOption(assetTypeOptions, $index)">{{option.text}}</a>
														    </li>
														</ul>
													</div>
												</div>
											</div>
											<div ng-switch-when='run_number'>
		                                        <div class="row criteria-title-container">
		                                            <div class="col-md-10 criteria-title">
														<h3>Run Number</h3>
													</div>
													<div class="col-md-2 cancel-button">
														<button type="button" class="btn btn-default btn-block btn-sm" data-ng-click="removeCriteriaOption(rulesetCriteriaDropdownOptions, 'run_number', $index)"><span class="glyphicon glyphicon-remove"></span></button>
													</div>
												</div>
												<div class="row" data-ng-repeat="runNumberOption in runNumberSelections" data-ng-switch on="runNumberOption.selection">
													<div class="col-md-12">
														<div ng-switch-when='less_than'>
															<div class="row form-row">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="runNumberLessThan" class="col-md-3 form-control-label">Less than</label>
																			<div class="col-md-9">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" placeholder="Required" data-ng-model="runNumberOption.less_than_value">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('run_number', runNumberSelections, 'less_than', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='greater_than'>
															<div class="row form-row">
																<div class="col-md-10">
																	<form >
																		<div class="form-group row">
																			<label for="runNumberGreaterThan" class="col-md-3">Greater than</label>
																			<div class="col-md-9">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" placeholder="Required" data-ng-model="runNumberOption.greater_than_value">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('run_number', runNumberSelections, 'greater_than', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='between'>
															<div class="row form-row-top">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="runNumberBetween1" class="col-md-3">Between</label>
																			<div class="col-md-4">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" placeholder="Required" data-ng-model="runNumberOption.between1_value">
																	    	</div>
																	    	<label for="runNumberBetween2" class="col-md-1">and</label>
																	    	<div class="col-md-4">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" placeholder="Required" data-ng-model="runNumberOption.between2_value">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('run_number', runNumberSelections, 'between', $index)">Cancel</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row button-group-row"> <!-- Button group row -->
													<div class="col-md-12 btn-group" uib-dropdown>
														<button id="single-button" type="button" class="btn btn-warning btn-sm" uib-dropdown-toggle ng-disabled="runNumberOptions.length == 0">
														 	Select Range <span class="caret"></span>
														</button>
														<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
															<li data-ng-repeat="option in runNumberOptions">
														      	<a data-ng-click="addRunNumberOption(option); removeOption(runNumberOptions, $index)">{{option.text}}</a>
														    </li>
														</ul> 
													</div>
												</div>
											</div>
											<div ng-switch-when='seller_code'>
												<div class="row criteria-title-container">
													<div class="col-md-10 criteria-title">
														<h3>Seller Code</h3>
													</div>
													<div class="col-md-2 cancel-button">
														<button type="button" class="btn btn-default btn-block btn-sm" data-ng-click="removeCriteriaOption(rulesetCriteriaDropdownOptions, 'seller_code', $index)"><span class="glyphicon glyphicon-remove"></span></button>
													</div>
												</div>
												<div class="row" data-ng-repeat="sellerCodeOption in sellerCodeSelections" data-ng-switch on="sellerCodeOption.selection">
													<div class="col-md-12">
														<div ng-switch-when='211'>
															<div class="row">
																<div class="col-md-10">
																	<h6>211</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('seller_code', sellerCodeSelections, '211', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='3ml'>
															<div class="row">
																<div class="col-md-10">
																	<h6>3ML</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('seller_code', sellerCodeSelections, '3ml', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='400'>
															<div class="row">
																<div class="col-md-10">
																	<h6>400</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('seller_code', sellerCodeSelections, '400', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='505'>
															<div class="row">
																<div class="col-md-10">
																	<h6>505</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('seller_code', sellerCodeSelections, '505', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='639'>
															<div class="row">
																<div class="col-md-10">
																	<h6>639</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('seller_code', sellerCodeSelections, '639', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='aaa'>
															<div class="row">
																<div class="col-md-10">
																	<h6>AAA</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('seller_code', sellerCodeSelections, 'aaa', $index)">Cancel</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row button-group-row"> <!-- Button group row -->
													<div class="col-md-12 btn-group" uib-dropdown>
														<button id="single-button" type="button" class="btn btn-warning btn-sm" uib-dropdown-toggle ng-disabled="sellerCodeOptions.length == 0">
														 	Select Seller Code <span class="caret"></span>
														</button>
														<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
															<li data-ng-repeat="option in sellerCodeOptions">
														      	<a data-ng-click="addSellerCodeOption(option); removeOption(sellerCodeOptions, $index)">{{option.text}}</a>
														    </li>
														</ul>
													</div>
												</div>
											</div>
											<div ng-switch-when='status'>
												<div class="row criteria-title-container">
													<div class="col-md-10 criteria-title">
														<h3>Status</h3>
													</div>
													<div class="col-md-2 cancel-button">
														<button type="button" class="btn btn-default btn-block btn-sm" data-ng-click="removeCriteriaOption(rulesetCriteriaDropdownOptions, 'status', $index)"><span class="glyphicon glyphicon-remove"></span></button>
													</div>
												</div>
												<div class="row" data-ng-repeat="statusTypeOption in statusSelections" data-ng-switch on="statusTypeOption.selection">
													<div class="col-md-12">
														<div ng-switch-when='auction'>
															<div class="row">
																<div class="col-md-10">
																	<h6>Auction</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('status', statusSelections, 'auction', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='canceled'>
															<div class="row">
																<div class="col-md-10">
																	<h6>Canceled</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('status', statusSelections, 'canceled', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='postponed'>
															<div class="row">
																<div class="col-md-10">
																	<h6>Postponed</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('status', statusSelections, 'postponed', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='sold_presale'>
															<div class="row">
																<div class="col-md-10">
																	<h6>Sold Presale</h6>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('status', statusSelections, 'sold_presale', $index)">Cancel</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row button-group-row">
													<div class="col-md-12 btn-group" uib-dropdown>
														<button id="single-button" type="button" class="btn btn-warning btn-sm" uib-dropdown-toggle ng-disabled="statusTypeOptions.length == 0">
														 	Select Status Type <span class="caret"></span>
														</button>
														<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
															<li data-ng-repeat="option in statusTypeOptions">
														      	<a data-ng-click="addStatusTypeOption(option); removeOption(statusTypeOptions, $index)">{{option.text}}</a>
														    </li>
														</ul>
													</div>
												</div>
											</div>
											<div ng-switch-when='days_to_auction'>
												<div class="row criteria-title-container">
													<div class="col-md-10 criteria-title">
														<h3>Days To Auction</h3>
													</div>
													<div class="col-md-2 cancel-button">
														<button type="button" class="btn btn-default btn-block btn-sm" data-ng-click="removeCriteriaOption(rulesetCriteriaDropdownOptions, 'days_to_auction', $index)"><span class="glyphicon glyphicon-remove"></span></button>
													</div>
												</div>
												<div class="row" data-ng-repeat="daysToAuctionOption in daysToAuctionSelections" data-ng-switch on="daysToAuctionOption.selection">
													<div class="col-md-12">
														<div ng-switch-when='less_than'>
															<div class="row form-row">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="startingBidLessThan" class="col-md-3 form-control-label">Less than</label>
																			<div class="col-md-9">
																	    		<input type="text" class="form-control form-control-sm" id="runNumberLessThan" data-ng-model="daysToAuctionOption.less_than_value" placeholder="Required">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('days_to_auction', daysToAuctionSelections, 'less_than', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='greater_than'>
															<div class="row form-row">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="startingBidGreaterThan" class="col-md-3 form-control-label">Greater than</label>
																			<div class="col-md-9">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="daysToAuctionOption.greater_than_value" placeholder="Required">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('days_to_auction', daysToAuctionSelections, 'greater_than', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='between'>
															<div class="row form-row-top">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="startingBidBetween1" class="col-md-3">Between</label>
																			<div class="col-md-4">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="daysToAuctionOption.between1_value" placeholder="Required">
																	    	</div>
																	    	<label for="startingBidBetween2" class="col-md-1">and</label>
																	    	<div class="col-md-4">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="daysToAuctionOption.between2_value" placeholder="Required">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('days_to_auction', daysToAuctionSelections, 'between', $index)">Center</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row button-group-row">
													<div class="col-md-12 btn-group" uib-dropdown>
														<button id="single-button" type="button" class="btn btn-warning btn-sm" uib-dropdown-toggle ng-disabled="daysToAuctionOptions.length == 0">
														 	Select Asset Type <span class="caret"></span>
														</button>
														<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
															<li data-ng-repeat="option in daysToAuctionOptions">
														      	<a data-ng-click="addDaysToAuctionOption(option); removeOption(daysToAuctionOptions, $index)">{{option.text}}</a>
														    </li>
														</ul>
													</div>
												</div>
											</div>
											<div ng-switch-when='starting_bid'>
		                                        <div class="row criteria-title-container">
		                                            <div class="col-md-10 criteria-title">
														<h3>Starting Bid</h3>
													</div>
													<div class="col-md-2 cancel-button">
														<button type="button" class="btn btn-default btn-block btn-sm" data-ng-click="removeCriteriaOption(rulesetCriteriaDropdownOptions, 'starting_bid', $index)"><span class="glyphicon glyphicon-remove"></span></button>
													</div>
												</div>
												<div class="row" data-ng-repeat="startingBidOption in startingBidSelections" data-ng-switch on="startingBidOption.selection">
													<div class="col-md-12">
														<div ng-switch-when='less_than'>
															<div class="row form-row">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="startingBidLessThan" class="col-md-3 form-control-label">Less than</label>
																			<div class="col-md-9">
																	    		<input type="text" class="form-control form-control-sm" id="runNumberLessThan" data-ng-model="startingBidOption.less_than_value" placeholder="Required">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('starting_bid', startingBidSelections, 'less_than', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='greater_than'>
															<div class="row form-row">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="startingBidGreaterThan" class="col-md-3 form-control-label">Greater than</label>
																			<div class="col-md-9">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="startingBidOption.greater_than_value" placeholder="Required">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('starting_bid', startingBidSelections, 'greater_than', $index)">Cancel</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='between'>
															<div class="row form-row-top">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="startingBidBetween1" class="col-md-3">Between</label>
																			<div class="col-md-4">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="startingBidOption.between1_value" placeholder="Required">
																	    	</div>
																	    	<label for="startingBidBetween2" class="col-md-1">and</label>
																	    	<div class="col-md-4">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="startingBidOption.between2_value" placeholder="Required">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('starting_bid', startingBidSelections, 'between', $index)">Center</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row button-group-row">
													<div class="col-md-12 btn-group" uib-dropdown>
														<button id="single-button" type="button" class="btn btn-warning btn-sm" uib-dropdown-toggle ng-disabled="startingBidOptions.length == 0">
														 	Select Range <span class="caret"></span>
														</button>
														<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
															<li data-ng-repeat="option in startingBidOptions">
														      	<a data-ng-click="addStartingBidOption(option); removeOption(startingBidOptions, $index)">{{option.text}}</a>
														    </li>
														</ul>
													</div>
												</div>
											</div>
											<div ng-switch-when='zoltar_score'>
												<div class="row criteria-title-container">
													<div class="col-md-10 criteria-title">
														<h3>Zoltar Score</h3>
													</div>
													<div class="col-md-2 cancel-button">
														<button type="button" class="btn btn-default btn-block btn-sm" data-ng-click="removeCriteriaOption(rulesetCriteriaDropdownOptions, 'zoltar_score', $index)"><span class="glyphicon glyphicon-remove"></span></button>
													</div>
												</div>
												<div class="row" data-ng-repeat="zoltarScoreOption in zoltarScoreSelections" data-ng-switch on="zoltarScoreOption.selection">
													<div class="col-md-12">
														<div ng-switch-when='less_than'>
															<div class="row form-row">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="zoltarScoreLessThan" class="col-md-3 form-control-label">Less than</label>
																			<div class="col-md-9">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="zoltarOption.less_than_value" placeholder="Required">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('zoltar_score', zoltarScoreSelections, 'less_than', $index)">Center</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='greater_than'>
															<div class="row form-row">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="zoltarScoreGreaterThan" class="col-md-3 form-control-label">Greater than</label>
																			<div class="col-md-9">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="zoltarOption.greater_than_value" placeholder="Required">
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('zoltar_score', zoltarScoreSelections, 'greater_than', $index)">Center</button>
																</div>
															</div>
														</div>
														<div ng-switch-when='between'>
															<div class="row form-row-top">
																<div class="col-md-10">
																	<form>
																		<div class="form-group row">
																			<label for="zoltarScoreBetween1" class="col-md-3">Between</label>
																			<div class="col-md-4">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="zoltarOption.between1_value" placeholder="Required">
																	    	</div>
																	    	<label for="zoltarScoreBetween2" class="col-md-1">and</label>
																	    	<div class="col-md-4">
																	    		<input type="text" class="form-control form-control-sm" id="exampleInputName2" data-ng-model="zoltarOption.between2_value" placeholder="Required">
																	    	</div>
																		</div>
																	</form>
																</div>
																<div class="col-md-2" align="center">
																	<button type="button" class="btn btn-default btn-xs" data-ng-click="remove('zoltar_score', zoltarScoreSelections, 'between', $index)">Cancel</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row button-group-row">
													<div class="col-md-12 btn-group" uib-dropdown>
														<button id="single-button" type="button" class="btn btn-warning btn-sm	" uib-dropdown-toggle ng-disabled="zoltarScoreOptions.length == 0">
														 	Select Range <span class="caret"></span>
														</button>
														<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
															<li data-ng-repeat="option in zoltarScoreOptions">
														      	<a data-ng-click="addZoltarScoreOption(option); removeOption(zoltarScoreOptions, $index)">{{option.text}}</a>
														    </li>
														</ul>
													</div>
												</div>
											</div>
									   </div>
									</div>
									<div class="row" data-ng-hide="useExistingRuleset == true || review == true" data-ng-show="editing == true">
										<div class="col-md-12">
											<div class="btn-group" uib-dropdown>
										    	<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="sortCriteriaOptions.length == 0">
										        	Add Ruleset Criteria <span class="caret"></span>
										      	</button>
										      	<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
										      		<li data-ng-repeat="option in sortCriteriaOptions">
										      			<a data-ng-click="addCriteriaOption(option); toggleHiddenContainer(); removeOption(sortCriteriaOptions, $index); noRuleset = false">{{option.text}}</a>
										      		</li>
										      	</ul>
											</div>
									    	<button type="button" class="btn btn-success" data-ng-click="selectSection(5); review = true; disableRulesetContainers()" data-ng-show="rulesetExist()">
									        	Review
									      	</button>
										</div>
									</div>
								</div>
								<div class="col-md-2 break"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2" id="review-submit-button" align="center"> <!-- style="border: 2px solid red;" -->
					<div class="row">
						<div class="col-md-12">
							<button type="button" class="btn btn-primary btn-block" data-ng-click="searchProperties(); goToResults()" data-ng-disabled="selected == undefined">Search</button>
						</div>
					</div>	
					<div data-ng-show="isSelected(5)">
						<div class="row"> <!-- Summary -->
							<h4>Enter title:</h4>
						</div>
						<div class="row form-group">
							<label class="col-md-2 form-control-label">Title</label>
							<div class="col-md-10">
								<input type="text" placeholder="Required" data-ng-model="rulesetTitle" ></input>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6" data-ng-hide="useExistingRuleset == true">
								<button type="button" class="btn btn-success" data-ng-click="create(); addSuccessfulAlert(1)">
								Save Ruleset
								</button>
							</div>
							<div class="col-md-6" data-ng-show="useExistingRuleset == true">
								<button type="button" class="btn btn-success" data-ng-click="update(); addSuccessfulAlert(1)">
								Update Ruleset
								</button>
							</div>
							<div class="col-md-6">
								<button type="button" class="btn btn-warning" data-ng-click="selectSection(5); review = false; enableRulesetContainers()">
								Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
			</div> 
			<a id="result-container"></a>
				<div class="row results-container-row" data-ng-if="search_initiated == true">
					<div class="col-md-12">
						<div class="row">
							<ui-gmap-google-map center='map.center' class="col-md-7"zoom='map.zoom'>
						        <ui-gmap-marker ng-repeat="m in markers" coords="m" icon="m.icon" click="onMarkerClicked(m)" idKey="m.id" options="m.options">
						            <ui-gmap-window ng-cloak coords="m.coords" isIconVisibleOnClick="false" options="map.infoWindowWithCustomClass.options">
						                    <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
						                    <p class="muted">My marker will stay open when the window is popped up!</p>
						            </ui-gmap-window>
						        </ui-gmap-marker>
						    </ui-gmap-google-map>
							<div class="col-md-5" id="property-list">
								<div class="row">
									<div class="col-md-12" id="results-title">
										<h3>{{resultCount}} Results</h3>
									</div>
								</div>
								<div class="row" data-ng-repeat="property in propertyList">
									<div class="col-md-12 property-container">
										<div class="row">
											<div class="col-md-4 picture">
												<img src="/img/house_ex1.jpg">
											</div>
											<div class="col-md-8 property-info-container">
												<p>{{property['Address'][0]}}</p>
												<p>{{property['City'][0]}},
												{{property['State'][0]}}</p>
												<p>{{property['High_Bid'][0]}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>