<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
	<!-- Render AngularJS views  -->
	<section ng-view></section>
	
	<!-- Load local libraries -->
<!-- 	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8PwHPWR-5fVJBly7mQ3jQIed6TN9XvTM">
    </script> -->
    <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyC8PwHPWR-5fVJBly7mQ3jQIed6TN9XvTM'></script>
	<script type="text/javascript" src="/lib/lodash/lodash.js"></script>
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-simple-logger/dist/angular-simple-logger.js"></script>
	<script type="text/javascript" src="/lib/angular-google-maps/dist/angular-google-maps.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="/lib/angular-touch/angular	-touch.js"></script>
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="/lib/solstice/src/solstice.js"></script>
	<script type="text/javascript" src="/lib/solstice/dist/solstice.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Load the index module -->
	<script type="text/javascript" src="/index/index.client.module.js"></script>
	<script type="text/javascript" src="/index/controllers/rulesets.client.controller.js"></script>
	<script type="text/javascript" src="/index/controllers/sections.client.controller.js"></script>
	<script type="text/javascript" src="/index/services/rulesets.client.service.js"></script>
	<script type="text/javascript" src="/index/config/index.client.routes.js"></script>

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html
